extends base

block includes
    include ../../helper/_helper
    include ../../../../../../src/pug/app/atomic/_commons
    include ../../../../../../src/pug/app/helper/_helper

block assets
    link(rel="stylesheet" href="/stylesheets/app.min.css")
    link(rel="stylesheet" href="/stylesheets/inject.min.css")
    script(src="/javascripts/app.min.js" defer)
    script(src="/javascripts/inject.min.js" defer)

block main
    .styleguide-headline
        block headline

    block modules
