mixin styleguide-sidebar()
    nav#js-styleguide-sidebar.styleguide-sidebar
        ul.nav.nav-stacked
            each level1Item, id1 in styleguide
                li.nav-item
                    if( level1Item.children )
                        a.nav-link(data-toggle="collapse" href="#js-styleguide-sidebar-submenu-"+id1 aria-controls="js-styleguide-sidebar-submenu-"+id1 aria-expanded="false")= level1Item.caption
                        .collapse(id="js-styleguide-sidebar-submenu-"+id1)
                            ul
                                each level2Item, id2 in level1Item.children
                                    li.nav-item
                                        a.nav-link(target="modules" href="/styleguide" + level2Item.url)= level2Item.caption
                    else
                        a.nav-link(target="modules" href="/styleguide" + level1Item.url)= level1Item.caption
